.profile-picture{
	width: 30%;
	display: block;
	margin: auto;
}

h2.heading{
	margin: 0;
	font-size: 1.5em;
}

h2:not(.heading){
	text-align: center;
	font-size: 1.5em;
	color: #12a6eb;
	margin-top: 1.5em;
}

h3{
	text-align: center;
}

.answers-container li{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	margin: 0.5em 0;
	padding: 1em;
}

.question{
	color: #12a6eb;
}

.answer{
	color: #888;
	margin-left: 1em;
	text-indent: 1em;
}