.messages-heading{
	margin: 0.5em 0;
}

.form-group > *{
	margin-bottom: 10px; 
}

.message-filter{
	margin-bottom: 10px;
	/*position: absolute;*/
}

.message-filter a{
	border-radius: 0;
}

.message-filter a:not(:last-child){
	border-right: 0;
}

.message{
	position: relative;
}

.message .panel{
	margin: 0;
	border-radius: 0;
}

.message:not(:last-child) .panel{
	border-bottom: 0px;
}

.message p{
	margin: 0;
}

.message .panel-body{
	display: flex;
	padding: 5px;
	overflow: auto;
}

.message-content{
	
}

.select-form{
	/*position: absolute;
	left: 16px;*/
	width: 2.5%;
	display: flex;
	justify-content: center;
}

.from{
	margin-left: 10px;
	width: 20%;
	display: inline;
	color: #94d11d;
	overflow: hidden;
}

.message-content{
	margin-left: 10px;
	margin-bottom: 0;
	font-family: Roboto;
	color: #555;
}

.messages-container .message-content{
	width: 60%;
	overflow: hidden;
}

.time-stamp{
	/* width: 9%; */
	text-align: right;
	position: absolute;
	right: 0.5em;
	font-family: Roboto;
	color: #AAA;
}

.clickable{
	cursor: pointer;
}

.clickable:hover .panel-body{
	background-color: rgba(0, 0, 0, 0.03);
}

.compose,
.delete,
.sent,
.markall,
.unmarkall{
	width: 100%;
	display: block;
	text-align: left;
	background-color: white;
	font-family: Roboto;
	font-size: 1em;
	/* margin: 1em 0; */
	border: 0;
	padding: 6px 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	text-transform: capitalize;
}

.compose{
	color: #6ec31b;
}

.delete{
	color: #cd3232;
}

.sent{
	color: #10a7e6;
}

.markall{
	color: #e8b65f;
}

.unmarkall{
	color: #e8dd5f;
}

#compose-form textarea,
#formMsg input,
#formMsg textarea{
	border: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	font-family: Roboto;
}

.thread-message{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 0 0;
	position: relative;
	background-color: white;
}

#compose-form .thread-message{
	margin: 1em 0;
}

.message-sender{
	margin: 0;
	font-family: Roboto;
	font-size: 1.5em;
}

.thread-message .time-stamp{
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-family: Roboto;
	font-size: 0.9em;
	color: #AAA;
}

.your-message{
	
}

.your-message .message-sender{
	color: #189ce7;
}

.their-message{

}

.their-message .message-sender{
	color: #93c632;
}

.send,
.reply{
	margin-top: 0.5em;
	font-family: Roboto;
	border-radius: 0!important;
	background-color: #169ae5; 
}

.mark{
	padding: 0;
}

.mark .panel-body{
	background-color: #fffccf;
}

.mark:hover .panel-body{
	background-color: #fff9a3;
}

.msg-sent-success{
	color: #8dcb2c;
	font-family: Roboto;
}

.msg-subject-sent{
	margin-top: 0.5em;
	color: #1ea2df;
	font-family: Roboto;
}

.msg-subject-sent .email{
	font-size: 0.5em;
	color: #AAA;
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
}
.msg-content-sent{
	font-family: Roboto;
	text-indent: 1em;
}

.msg-timestamp-sent{
	position: absolute;
	top: 1em;
	right: 1em;
	color: #abdd23;
	font-family: Roboto;
	font-size: 0.9em;
}

#message-form > .panel-body{
	position: relative;
}

.message-options{
	padding: 0;
	overflow: hidden;
	border-radius: 4px;
}

/*.message-filters li{
}

.message-filters li a{
	display: block;
	padding: 5px 10px;
}

.message-filters li a:hover,
.message-filters li a:focus,
.message-filters li a.active{
	background-color: #EEE;
	text-decoration: none;
	color: #3498db;
}

.message-filters li a.active{
	cursor: default;
	background-color: #DDD;
}

.msg-container{
	overflow: auto;
	clear: both;
}

.msg-container.sent + .msg-container.sent .message,
.msg-container.receive + .msg-container.receive .message{
}

.message{
	margin: 3px 0;
	padding: 5px 10px;
	border-radius: 0.5em;
	max-width: 75%;
}

.sent .message{
	float: right;
	clear: both;
	color: white;
	background-color: #3498db;
}

.receive .message{
	float: left;
	clear: both;
	background-color: #EEE;
}

.recipient-img{
	height: 3em;
	margin-bottom: -0.2em;
	margin-right: 0.5em;
}

.person{
	border: 1px solid #DDD;
	display: flex;
	align-items: center;
}

.person-name{
	color: #888;
}

.person:hover{
	cursor: pointer;
	text-decoration: none;
}

.person-img{
	height: 2.5em;
	margin-right: 0.25em;
}

.messaging-panel{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.people-list{
	max-height: 65.5vh;
	overflow-y: auto;
}

::-webkit-scrollbar{
	position: absolute;
	background-color: transparent;
	width: 6px;
}               
::-webkit-scrollbar-button {
	height: 0;
}
::-webkit-scrollbar-thumb {
	background-color: #95a5a6;
	border-radius: 50px;
	box-sizing: border-box;
	margin-right: 3px;
}  

@media screen and (min-width: 767px){
	.column{
		padding: 0;
	}

	.column:first-child .panel{border-radius: 4px 0 0 4px;}
	.column:last-child .panel{border-radius: 0 4px 4px 0;}

	.column:not(:first-child):not(:last-child) .panel{
		box-shadow: none;
		border-radius: 0;
		border-right-width: 0;
		border-left-width: 0;
	}

	.column .panel-default{
		min-height: 85vh;
	}
	.messaging-panel .panel-body{
		min-height: 63vh;
		max-height: 63vh;
		overflow-y: auto;
	}
	.message{
		max-width: 50%;
	}
}




*/