.user-pp{
	margin: auto;
	width: 12.5em;
	height: 12.5em;
	margin-top: 1.5em;
}

.user-name,
.work,
.about-me,
.education,
.user-email{
	text-align: center;
	/*color: #888;*/
}

.user-name{
	font-size: 2em;
}

.work,
.education{
	font-size: 1.25em;
}

.user-email{
	font-size: 1em;
	color: #888;	
}

.about-me{
	font-size: 0.9em;
}

.btn-group{
	margin-bottom: 1.5em;
}

.acc_settings,
.acc_settings + *{
	margin: 0.25em;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.youHave{
	font-size: 1em;
}

.count{
	font-size: 5em;
	margin: 0em;
	font-family: Arial;
}

.list{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.list li{
	border-bottom: 1px solid #DDD;
	padding: 0 1em;
}

.list li:first-child{
	border-top: 1px solid #DDD;
}
.list li a{
	display: block;
	text-align: center;
	padding: 0.5em 0;
	text-decoration: none;
}

.list li:hover{
	background-color: rgba(0,0,0,0.025);
}

.seeAll{
	background-color: transparent!important;
	font-size: 1.2em;
	border-width: 0!important;
	margin-top: 0.5em;
}

.scholar-links{
	position: fixed;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 50px;
	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	display: flex;
	list-style: none;
}

.scholar-links a{
	display: inline-block;
	padding: 15px 16px;
	color: #888;
	font-family: "Roboto";
	text-decoration: none;
}

.scholar-links a:hover{
	color: #1777a4;
	filter: brightness(130%);
	background-color: rgba(0, 0, 0, 0.03);
}

.scholars{
	margin-top: 2em;
}

.no-pending{
	font-size: 1.5em;
	color: #888;
}