.heading{
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading .img-container{
	width: 20%;
	position: relative;
}

.heading .img-container > img{
	width: 100%;
	margin: 0!important;
}

.heading .img-container > img[alt="sponsor-img"]{
	width: 40%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.heading > article{
	max-width: 80%;
	padding: 0 1em;
}

.heading > article > *{
	font-family: Roboto;
	margin: 0;
}

.quest-no{
	color: #888;
}

.sponsor{
	color: #2183de;
}



form > label:not(:first-child){
	margin-top: 1.5em;
}

form > label{
	font-family: Roboto;
	font-size: 1.2em;
	font-weight: normal;
	text-indent: 0.5em;
}

form > label .question-mark{
	color: #227ed5;
	display: none;
}

section{
	display: flex;
	margin: 1.5em auto;
	width: 90%;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
}

section label{
	font-weight: normal;
}

section label input{
	transform: translate(0, 10%);
}

textarea{
	font-family: Roboto;
	max-height: 20em;
}

.send-app{
	font-family: Roboto;

}
